* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #D6D6D6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    width: auto;
}
