#floor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    height: 5vmax;
    width: 100vw;
}

.ulPagination__style {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 12vmax;
    list-style: none;
}

.liPagination__style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vmax;
    height: 2vmax;
    cursor: pointer;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 1vmax;
    line-height: 100%;
    color: #4F4F4F;
    background: #FFFFFF;
    border-radius: 24px;
    border: none;
}

.liPagination__style:hover {
    /*background: #ffbaba;*/
    color: #000000;
    background: #e80606;
}

.activeLi {
    color: #000000;
    background: #e80606;
}