#floor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    height: 5vmax;
    width: 100vw;
}

.paginationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: auto;
    height: 2.5vmax;
    background: #B90000;
    border-radius: 2vmax;
    border: none;
}

.arrowPrev, .arrowNext {
    width: 2.5vmax;
    height: 50%;
    margin: 0 1%;
    background: #D6D6D6;
    border: none;
    color: #FFFFFF;
    font-size: 2vmax;
}

.paginationNumber {
    width: 2.5vmax;
    height: 2.5vmax;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vmax;
    line-height: 19px;
    color: #FFFFFF;
    background: #B90000;
    border-radius: 100%;
    border: none;
}

.paginationText {
    display: block;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 0.9vmax;
    line-height: 1vmax;
    color: #FFFFFF;
}

.arrow:hover {
    color: #000000;
    background: #fdabab;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}