#header {
    background: #B90000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    height: 5vmax;
    width: 100vw;
}

#navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    flex-flow: wrap column;
    margin: 2% 0 0 2%;
    max-width: 30%;
    width: 12vmax;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    max-width: 70%;
    width: 70vmax;
    max-height: 70%;
    height: auto;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    height: 5vmax;
    width: 100vw;
}