.news__title:hover .link__button {
    font-size: 1vmax;
    height: 10%;
    width: 22%;
    cursor: pointer;
}

.news__title:hover {
    cursor: pointer;
}

.active {
    color: #B90000;
}

.active:before {
    content: "";
    display: list-item;
}